// Home
.container {
    nav {
        .flex();
        justify-content: space-around;
        padding-top: 10px;
        position: sticky;
        @media @phone {
            flex-direction: column;
            align-items: center;
        }
        a {
            color: @colorblack;
            padding-bottom: 20px;
        }
    }
}